{% extends 'base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}

<section class="section">

    <div class="container">

        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box">

                    <form method="post">
                        {% csrf_token %}

                        <div class="columns is-centered mb-0">
                            <div class="column px-4 pb-0">

                                {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                    <li {% if message.tags %} class="has-text-{{ message.tags }}" {% endif %}>
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                        {{ message }}
                                        </li>
                                        {% endfor %}
                                </ul>
                                {% endif %}

                                <div class="field my-4">
                                    <label class="label">Username</label>
                                    <div class="control has-icons-left">
                                        <input class="input" name="username" id="id_username" type="text" maxlength="30"
                                            required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                </div>

                                {% if form.errors %}
                                {% for field in form %}
                                {% for error in field.errors %}
                                <div class="help">
                                    <p class="p-1 has-text-danger">{{ error|escape }}</p>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <div class="help">
                                    <p class="p-1 has-text-danger">{{ error|escape }}</p>
                                </div>
                                {% endfor %}
                                {% endif %}


                                <div class="field my-4">
                                    <label class="label">Password</label>
                                    <div class="control has-icons-left">
                                        <input class="input" name="password" id="id_password" type="password" required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-key"></i>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <p class="help is-pulled-right">
                                    Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
                                </p>
                            </div>
                        </div>

                        <button class="button rr-primary rr-white" type="submit" value="login"><i
                                class="fas fa-sign-in-alt mr-1"></i>Login</button>
                        <input type="hidden" name="next" value="{% url 'home' %}">

                    </form>

                </div>
            </div>
        </div>


    </div>
</section>

{% endblock %}